ul .tformation{
    list-style-type: none;
  }

ul .expcomp{
    list-style-type: none;
  }

.tformation {
    margin-left: -10%;
    margin-right: 30px;
    background-color: rgb(250, 253, 60);
    padding: 5px;
    border: solid darkgrey 2px;
    box-shadow: 5px 5px 5px rgb(66, 66, 66);
    border-radius: 20px 20px 50px 20px;
}

.expcomp {
    margin-left: 0px;
    margin-right: 20px;
    background-color: rgb(255, 148, 27);
    padding: 5px;
    border: solid darkgrey 2px;
    box-shadow: 5px 5px 5px rgb(66, 66, 66);
    border-radius: 20px 20px 50px 20px;
}

.tformation .yearexp {
    display: block;
    text-align: center;
    margin-right: 0%;
}


.expcomp .yearexp {
    display: block;
    text-align: center;
    margin-left: -30px;
}

.yearexp {
    font-weight: bold;
}

.trash {

    margin-left: auto;
    margin-right: auto;
    align-self: center;
    text-align: center;
}

