.bgsite { 
  background: url(../img/17973908.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
}

.bodygrid { 
  font-family: monospace; 
  font-size: 125%;
  /*margin-top: 100px; remove for nav top bar*/
  margin-left: 25px;
  margin-right: 25px;
}

.img-prof {
  max-width: 100%;
  max-width: 300px;
  height: auto;
  filter: sepia(60%);
  border-radius:50%;
}


.ftsz-125 {
  font-size: 125%;
}

li {
  margin:0 0 10px 0;   
}

.comp-name {
  font-weight: bold;
}

.comp-loc {
  font-style: italic;
}

.sch-name {
  font-weight: bold;
}

.sch-loc {
  font-style: italic;
}

.job-name {
  color: darkblue;
  }

.txt-vert{
   vertical-align: middle;
  }

.contact-mrg {
  margin-left: 25px;
  }

h3 {
  text-align: center;
}



footer img {
  height: 12px;
  width: 12px;
}

.menuicone {
  height: 19px;
  width: auto;
}